body{
	background-color: #203740;
	background-image: url("../img/b5.jpg");
    background-repeat: repeat;


}

#header{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	text-align: center;
	padding: 10px;
	margin: auto;
	font-family: 'Roboto', serif;
    font-size: 38px;
	box-shadow: 0px 7px 10px 0px #222222;
	color: #FFFFFF;
	font-weight: bold;
}

#navBar{

	text-align: center;
	width: auto;
	margin: auto;
	margin-top: 20px;

}

#navBar a{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	font-family: 'Roboto', serif;
	font-size: 30px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px 30px 0px 30px;
	margin: 0px 20px 0px 20px;
	box-shadow: 7px 7px 10px 0px #222222;
}

#navBar a:hover{
	background-color: #75C7E5;
	background-image: url("../img/stone_tile_hover.jpg");
    background-repeat: repeat;

}

#navBar a.active{
	background-color: #416E7F;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
}

#rules-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Roboto', serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
	box-shadow: 7px 7px 10px 0px #222222;
}

#contact-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Roboto', serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
	box-shadow: 7px 7px 10px 0px #222222;
}

ul{
	list-style-type: square;
	margin-left: 10px;
}

h2{
	font-weight: bold;
	font-size: 24px;
}

#footer{
	text-align: center;
	color: #FFFFFF;
	font-family: 'Roboto', serif;
	font-size: 10px;
	margin: 0p;

}

#htp-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Roboto', serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
	box-shadow: 7px 7px 10px 0px #222222;
}

#staff-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Roboto', serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
	box-shadow: 7px 7px 10px 0px #222222;
}

#donation-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Roboto', serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
	box-shadow: 7px 7px 10px 0px #222222;
	text-align: center;
}

span.red{
	color: #FF0000;
}

span.blue{
	color: #0000FF;
}

span.black{
	color: #000000;
}

span.green{
	color:#00FF00;
}
span.under{
	text-decoration: underline;
}

span.small{
	font-size: 20px;
}

#nobeggy{
	background-color: #000000;
	margin: auto;
	color: #FF0000;
	padding: 10px;
	text-align: center;
}

a{
	color: #FFFFFF;
}

label{
	display: block;
	margin-top: 20px;
}
table{
	display: inline-block;
	margin: 20px 0px 20px 0px;
}

table, th, td, tr{
	border: 2px solid #FFFFFF;
	text-align : center;
}

td, th{
	padding: 10px;
	font-weight: bold;
	vertical-align: middle;
}


th{
	font-size: 25px;
}

#annoucement{
	background-image: url("../img/annoucement_bg.jpg");
	text-align: center;
	font-size: 40px;
	margin: 20px;
	padding: 20px;
	text-decoration: bold;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	box-shadow: 7px 7px 10px 0px #222222;
	line-height: 0.7;
}
