body{
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600);
	background-color: #203740;
	background-image: url("../img/b5.jpg");
	font-weight: light;
	text-shadow: none !important;

}
.blur{
    opacity: 1;
    filter: blur(0.5px);
    -webkit-filter: blur(0.3px);
    -moz-filter: blur(5px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");
}
#header{
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
    font-size: 38px;
	color: #FFFFFF;
	font-weight: bold;
}

#navBar{

	text-align: center;
	width: auto;
	margin: auto;
	margin-top: 20px;

}

#navBar a{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile.jpg");
    background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px 30px 0px 30px;
	margin: 0px 20px 0px 20px;
	box-shadow: 7px 7px 10px 0px #222222;
}

#navBar a:hover{
	background-color: #75C7E5;
	background-image: url("../img/stone_tile_hover.jpg");
    background-repeat: repeat;

}

#navBar a.active{
	background-color: #416E7F;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
}

#rules-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
}

#contact-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
}

ul{
	list-style-type: square;
	margin-left: 10px;
}

h2{
	font-weight: bold;
	font-size: 24px;
}

#footer{
	text-align: center;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	margin: 0p;

}

#htp-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
}

#staff-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
}

#donation-container{
	background-color: #61A6BF;
	background-image: url("../img/stone_tile_active.jpg");
    background-repeat: repeat;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 5px;
	text-align: center;
}
span.bold{
	font-weight: bold;
}
span.red{
	color: red;
}
span.light_red{
	color: #FF6666;
}
span.light_blue{
	color: #07DCEE;
}

span.blue{
	color: blue;
}

span.black{
	color: black;
}

span.green{
	color: green;
}
span.under{
	text-decoration: underline;
}

span.small{
	font-size: 20px;
}
span.pink{
	color: #FFC0CB;
}

#nobeggy{
	color: white;
	background-image: url("../img/annoucement_bg.jpeg");
	text-align: center;
	margin: auto;
	padding: 10px;
	line-height: 0.7;
}

a{
	color: #FFFFFF;
}

label{
	display: block;
	margin-top: 20px;
}
table{
	display: inline-block;
	margin: 20px 0px 20px 0px;
}

table, th, td, tr{
	border: 2px solid #FFFFFF;
	text-align : center;
}

td, th{
	padding: 10px;
	font-weight: bold;
	vertical-align: middle;
}


th{
	font-size: 25px;
}

#annoucement{
	background-image: url("../img/annoucement_bg.jpeg");
	text-align: center;
	font-size: 40px;
	margin: 20px;
	padding: 20px;
	text-decoration: bold;
	line-height: 0.7;
}
